@charset "UTF-8";


    .containerA{
       
    }
     
    *{
      box-sizing: border-box;
    }
    .containerA{
      border:5px solid black;
    }
    .containerA>*{
      border:5px solid red;
    }
    .containerA>.content>*{
      border:5px solid green;
    }
    .containerA .content{
      /*padding-left:200px;*/ /*sideNav는 그냥 지도를 덮어버리는걸로..*/
      /*padding-right:150px;*/
      overflow: hidden;
    }
    .containerA .content>*{
      float:left;
      padding-bottom:2500px;
      margin-bottom:-2500px;
    }
    .containerA .content main{
      width:100%;
    }
    .containerA .content nav{
      width:200px;
      margin-left: -100%;
      /*left:-200px;*/
      position: relative;
    }
    .containerA footer{
      clear: both;
    }
     
    @media (max-width:599px){
      .containerA .content{
        padding-left:0;
        padding-right:0;
        overflow: visible;
      }
      .containerA .content>*{
        float:none;
        padding-bottom:0;
        margin-bottom:0;
      }
      .containerA .content main{
        width:100%;
      }
      .containerA .content nav{
        width:auto;
        margin-left: 0;
        left:0;
        position: relative;
      }
    }
